<h1>Perpustakaan Galuh</h1><br>
<h2>Apakah Anda ingin menambahkan transaksi peminjaman buku terbaru? <%= link_to 'Klik Disini', new_book_path %></h2><br><br>
<head>
  <style>
    #book-row-mark td { background-color: red; }
  </style>
</head>

<body>
  <h2>Daftar Buku Yang Dipinjam</h2>

  <strong>*Baris berwarna merah menandakan buku yang sudah melewati batas akhir Tanggal Pengembalian</strong><br><br>

  <strong>Cari berdasarkan:</strong>

  <%= form_tag(search_path, :method => "get" , :required => true) do %> 
    <%= radio_button_tag(:search_by, "title", checked: true) %>Judul
    <%= radio_button_tag(:search_by, "author")%>Penulis</p>
    
    <%= search_field_tag :search, params[:search], placeholder: "Masukkan Kata Kunci", required: true %>  
      <%= button_tag do%> 
      <%= t('Cari Buku')%>
      <% end %>
  <% end %></p>

  <table>
  <tr>
    <th>Judul</th>
    <th>Penulis</th>
    <th>Tanggal Peminjaman</th>
    <th>Tanggal Pengembalian</th>
  </tr>
  <% @books.each do |book| %>
    <tr id="<%= 'book-row-mark' if book.return_due_date.past? %>">
      <td>
        <%= book.title %>
      </td>
      <td>
        <%= book.author %>
      </td>
      <td>
        <%= (book.borrow_time).to_date.strftime("%d - %m - %Y") %>
      </td>
      <td>
        <%= (book.return_due_date).to_date.strftime("%d - %m - %Y") %>
      </td>
    </tr>
  <% end %>
  </table>
</body>
