<h1>Formulir Data Peminjaman Buku</h1>

<body>
  <%= form_with model: @book, url: books_new_path, html: { method: :post } do |form| %>
    <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% @book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <%= form.label "Judul Buku:" %> <br>
    <%= form.text_field :title %> <br><br>
    <%= form.label "Penulis Buku:" %> <br>
    <%= form.text_field :author %> <br><br>
    <%= form.label "Tanggal Peminjaman:" %> <br>
    <%= form.date_field :borrow_time %> <br><br>
    <%= form.label "Tanggal Pengembalian:" %> <br>
    <%= form.date_field :return_due_date %> <br><br>
    <%= form.submit "Simpan Data Peminjaman Buku" %>
  <% end %>
</body>